html, body{
    font-size: 2rem;
    box-sizing: border-box;
}

nav{
    background: linear-gradient(#0000CD, #6495ED	);
    padding: 9%;
    box-shadow: 1px 2px 6px black;    
}

@media only screen and (min-width: 500px) and (max-width: 700px){
    nav{
        padding: 4.3%;
    }
}

@media only screen and (min-width: 701px) {
    nav{
        padding: 3.3%;
    }
}